[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = git://github.com/thisconnect/socket.io.git
[submodule "node_modules/socket.io-client"]
	path = node_modules/socket.io-client
	url = git://github.com/thisconnect/socket.io-client.git
[submodule "node_modules/optparse"]
	path = node_modules/optparse
	url = git://github.com/thisconnect/optparse-js.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = git://github.com/thisconnect/uglify-js.git
[submodule "node_modules/zeparser"]
	path = node_modules/zeparser
	url = git://github.com/thisconnect/zeparser.git
[submodule "node_modules/active-x-obfuscator"]
	path = node_modules/active-x-obfuscator
	url = git://github.com/thisconnect/active-x-obfuscator.git
[submodule "node_modules/mime"]
	path = node_modules/mime
	url = git://github.com/thisconnect/mime.git
